html {
  background-color: #313131;
  color: whitesmoke;
  margin: 2em;
}
main {
  padding-bottom: 5em;
}
h1 {
  font-size: xx-large;
}
h2 {
  margin-bottom: 2em;
  font-size: larger;
}
h3 {
  margin-top: 1em;
  font-weight: bold;
  text-decoration: underline;
}
ul {
  padding-left: 1em;
}
#github {
  width: 2em;
}
